<header>
    <h3>Salut {{ app.user.firstName|upper }}</h3>
    <button id="btn-pizzas">Pizzas</button><br><br>
    <button id="btn-ingredients">Ingredients</button><br><br>
    <a href="{{ path('signout') }}">Déconnexion</a>
</header>
<main>
</main>