body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.notification-container {
    z-index: 5;
    position: absolute;
    left: 40%;
    top: 30%;
    pointer-events: none;
}