header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.nice-pizza-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 2%;
    margin-bottom: 10px;
}

.nice-pizza-logo img {
    width: 90px;
    height: 60px;
}

.nice-pizza-logo span {
    color:  #000;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    align-self: center;
}

.orders-dashboard {
    align-self: center;
    margin-right: 10%;
}
.orders-dashboard button {
    width: 200px;
    height: 40px;
    margin: 25px;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    background-color: #efd159;
    border: none;
    cursor: pointer;
    color: #000;
}