main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: auto;
    background-color: #f5f5f5;
    height: 100%;
}

.container-pizzas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 3;
    margin: 25px;
}

.container-basket {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: #fff;
    margin: 25px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.12);
}

.container-basket h2 {
    align-self: center;
}

.container-products {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.container-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-total {
    font-size: large;
    font-weight: 800;
    color: #000;
}

.container-basket button {
    height: 40px;
    margin: 25px;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    background-color: #efd159;
    border: none;
    cursor: pointer;
    color: #000;
    opacity: 0.5; /*the button disabled by default*/
}