header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
}

header img {
    margin-left: 10%;
}

header .header-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:  #000;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}