main {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    flex: 2;
}

main .container-joke {
    margin-left: 5%;
}
main .container-joke span {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:  #000;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    line-height: 40px;
}

main .container-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    margin-left: 10%;
}

main .container-order span {
    color:  #000;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
}

main .container-order a {
    margin-top: 15px;
}

main .container-order a i {
    font-size: 50px;
    color: 	#efd159;
}
main .container-order a i:hover {
    opacity: 0.5;
}
main .container-order a i:active {
    opacity: 0.8;
}