<header>
    <a href="{{ path('nice_pizza_home') }}" class="nice-pizza-logo">
        <img src="{{ asset('img/logo.png') }}" alt="logo">
        <span>Nice Pizza</span>
    </a>
    <a href="#" class="orders-dashboard">
        <button>Dashboard</button>
    </a>
</header>